*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Gilroy';
}
html,body{
    height: 100%;
    width: 100%;

}
body{
    display: flex;
    align-items:center;
    justify-content: center;
background-color: rgb(88, 117, 170);
}
#card{
    border-radius: 10px;
    height: 400px;
    width: 300px;
    background-color: aliceblue;
    padding:30px ;
    text-align: center;


}
#card h1{
    color: black;
    font: size 25px;
    margin:  10px 10px;
}
#card h5{
    font-size: 25px;
    color: red;
    margin:20px;
}
#card button{
    background-color: rgb(88, 196, 160);
    color: rgb(6, 6, 6);
    font-weight: 700;
    padding: 10px 10px;
    border-radius:5px;
    border: none;
    cursor: pointer;
}

#card img{
    height:65%;
    width:100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.cursor{
    --c: red;
    width: 200px;
    aspect-ratio: 1;
    background:
     /* 1 */ radial-gradient(circle at 60% 65%,var(--c) 64%,#0000 65%) top left/50% 50%,
     /* 2 */ radial-gradient(circle at 40% 65%,var(--c) 64%,#0000 65%) top right/50% 50%,
     /* 3 */ conic-gradient(from -45deg at 50% 85.5%,var(--c) 90deg,#0000 0) bottom/100% 50%;
    background-repeat: no-repeat;

    width: 20px;
    height: 20px;
    color: rgb(228, 225, 225);
    height: 20px;
    width: 20px;
 position: absolute;
transition: all linear 0.2s;

}
/* .main{
    height: 10%;
    width: 100%;
    background-color: rgb(216, 12, 12);
} */